footer {
    display: flex;
    margin-top: auto;
    border-radius: 0px 0px 10px 10px;
    background-image: url("../img/themes/nav-overworld.jpg");
}

footer a {
    align-items: top;
    padding: 0.5em;
}

footer img {
    max-width: 64px;
}

@media (max-width: 768px) {
   footer {
       flex-flow: column wrap;
   } 
}