footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    border-radius: 0px 0px 10px 10px;
    background-image: url("../img/themes/nav-overworld.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer a {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

footer img {
    max-width: 64px;
}

@media (max-width: 768px) {
   footer {
       flex-flow: column wrap;
   } 
}